.idea/
basicdnn*
*.tar.gz
.project
.pydevproject
custn/
tensorflow/classifier-v1/
bbox-v1/
classifier-v1/
checkpoint/
output/
nohup.out
runs/
*.pyc
generated-*
.pipeline-generated-*
.DS_Store
83f05e58*
c6014421*
target/
mnist-original.mat
